###################################
# Path shared in host OS
#
# Window Host OS:
# (+) Docker ToolBox:
# Settings of docker-machine VirtualBox Image (default) -> Shared Folders
# -> Add -> Host OS Path -> DockerTLBB -> Auto-mount -> OK
# The env will be:
# SHARED_DIR=/tlgame
#
# Linux Host OS:
# SHARED_DIR=.
#
###################################
SHARED_DIR=/tlgame

# ServerInfo.ini > [Server1] > PORT0
LOGIN_PORT=13580
# ServerInfo.ini > [Server0] > PORT0
SERVER_PORT=15680
# ServerInfo.ini > [billing] > PORT0
# BILLING_PORT=21818

# HOST_MYSQL_PORT=3306
HOST_MYSQL_PORT=3306
WEB_MYSQL_PORT=33060
TLBB_MYSQL_PORT=33061
RESTART=always

