# author: yulinzhihou
# mail: yulinzhihou@gmail.com
# date: 2020-12-18
# 全局配置文件
###################################
# 环境配置文件，按需要进行更改，里面的可以更改的项目为
# LOGIN_PORT    注：游戏登录端口，默认13580
# SERVER_PORT   注：游戏服务端口，默认15680
# TL_MYSQL_PASSWORD   注：游戏数据库端口，默认33061
# TL_MYSQL_PASSWORD   注：游戏数据库密码，默认123456
# 以上6项为可自定项目，按自己的实际情况进行定义
# 请根据自己的需求定义对应的值。如果不自定，则会使用本配置文件默认值
# 请切记，上面6项的值在下面修改，不是直接写在上面。
###################################
# 主机目录，所有文件都将映射到云服务器的/tlgame目录里面
SHARED_DIR=/tlgame
#
# 登录网关端口转发：ServerInfo.ini > [Server1] > PORT0(不能超过65535，建议写大点的值，因为小值和一些特定的值是系统专用的)
LOGIN_PORT=13580
# 游戏端口转发：ServerInfo.ini > [Server0] > PORT0(不能超过65535，建议写大点的值，因为小值和一些特定的值是系统专用的)
SERVER_PORT=15680
#
# 游戏数据库端口，请使用非3306的端口(不能超过65535，建议写大点的值，因为小值和一些特定的值是系统专用的)
TL_MYSQL_PORT=33061
# 网站端口(不能超过65535，建议写大点的值，因为小值和一些特定的值是系统专用的)
WEBSERVER_PORT=8080
#
# 容器服务重启方式
RESTART=always
#
# tlmysql数据库密码,会自动写入到配置文件中
TL_MYSQL_PASSWORD=123456